body{
    margin: 0 auto;
    width: 900px;
    background: url('img/fundo.png')  #d2d2c1;
    font-family: sans-serif ;
}

.header{
    width: 900px; 
}

.nav{
    text-decoration: none;
    color: #4b566a;
    padding: 16px 16px 16px 5px;
    background-color: #c5c5b2;
    font-weight: bold;
}

.conteudo{
    background-color: #e8e8d9;
    padding: 15px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo h2{
    color: #4b566a;
    font-weight: bold;
}

.img-campanha{
     border: 10px solid #c5c5b2;
     margin-left: 12%;
}

.footer{
    text-align: center;
}
